@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can be added here if needed */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0; /* Remove default margin */
  height: 100vh; /* Ensure body takes full viewport height */
  background-size: 400% 400%; /* Required for gradient animation */
}
